@charset "utf-8";

%aside-visible {
	transform: translateX(0);
}

%aside-left-hidden {
	transform: translateX(-100%);
}

%aside-right-hidden {
	transform: translateX(100%);
}

%aside-wide {
	width: $aside-wide-width;
}

@mixin aside($breakpoint-suffix: '') {

	.layout-container {

		@each $side in ('left', 'right') {

			&:not(.hide-#{$side}):not(.show-#{$side}) {

				&.aside-#{$side}, &.aside-both {

					&#{$breakpoint-suffix} {
						@include aside-variant($side, $breakpoint-suffix, $aside-width);

						&-wide {
							@include aside-variant($side, $breakpoint-suffix, $aside-wide-width);
						}
					}
				}
			}
		}
	}
}

@mixin aside-variant($side, $breakpoint-suffix, $width) {
	padding-#{$side}: $width;

	aside, .aside {

		&.#{$side} {

			@if ($breakpoint-suffix == '-all') {
				@extend %aside-visible;
			} @else {
				transform: translateX(0);
			}
		}
	}
}

@include aside('-all');

.layout-container {

	aside, .aside {
		overflow: hidden;
		padding: space();
		transition: transform $default-transition-duration;
		width: $aside-width;
		z-index: map-get($layers, 'aside');

		@each $side in ('left', 'right') {

			&.#{$side} {
				@extend %aside-#{$side}-hidden;
			}
		}
	}

	@each $side in ('left', 'right') {

		&.show-#{$side} {

			&::before {
				@extend .overlay;

				content: ' ';
			}

			aside, .aside {

				&.#{$side} {
					@extend %aside-visible;

					z-index: map-get($layers, 'top');
				}
			}
		}

		@each $breakpoint in append($screen-breakpoints, (suffix: 'all')) {

			&.aside- {

				&#{$side}, &both {

					&-#{map-get($breakpoint, 'suffix')}-wide {

						aside, .aside {

							&.#{$side} {
								@extend %aside-wide;
							}
						}
					}
				}
			}
		}
	}

	&.bar-top {

		aside, .aside {
			padding-top: $bar-height;
		}

		&.bar-top-tall {

			aside, .aside {
				padding-top: $bar-tall-height;
			}
		}
	}

	&.bar-bottom {

		aside, .aside {
			padding-bottom: $bar-height;
		}

		&.bar-top-tall {

			aside, .aside {
				padding-bottom: $bar-tall-height;
			}
		}
	}
}