@charset "utf-8";

%balloon-arrow {
	content: "";
	display: block;
	position: absolute;
	border-style: solid;
}

%balloon-arrow-x {
	top: 50%;
}

%balloon-arrow-y {
	left: 50%;
}

%balloon-arrow-x-top {
	margin-top: -($balloon-arrow-top-box-size / 2);
}

%balloon-arrow-y-top {
	margin-left: -($balloon-arrow-top-box-size / 2);
}

%balloon-arrow-x-bottom {
	margin-top: -($balloon-arrow-bottom-box-size / 2);
	margin-left: -($balloon-arrow-bottom-box-size * .5);
}

%balloon-arrow-y-bottom {
	margin-left: -($balloon-arrow-bottom-box-size / 2);
	margin-top: -($balloon-arrow-bottom-box-size * .5);
}

%balloon-arrow-bottom {
	@include rotate(-45);

	width: $balloon-arrow-bottom-box-size;
	height: $balloon-arrow-bottom-box-size;
	border-width: ($balloon-arrow-bottom-box-size / 2);
	z-index: map-get($layers, 'base') - 1;
}

%balloon-arrow-top {
	width: $balloon-arrow-top-box-size;
	height: $balloon-arrow-top-box-size;
	border-width: ($balloon-arrow-top-box-size / 2);
	z-index: map-get($layers, 'base') + 1;
}

%balloon-content {
	@extend .border;
	@extend .v-space;
	@extend .h-space-big;
	@extend .shadow;

	position: relative;

	header {
		@extend .bold;
		@extend .text-left;
		@extend .upper;
		@extend .v-margin;
	}

	&::before, &::after {
		@extend %balloon-arrow;
	}

	&::before {
		@extend .shadow;
		@extend %balloon-arrow-bottom;
	}

	&::after {
		@extend %balloon-arrow-top;
	}
}

%balloon-content-right {

	&::before, &::after {
		@extend %balloon-arrow-x;

		left: 100%;
	}

	&::before {
		@extend %balloon-arrow-x-bottom;
	}

	&::after {
		@extend %balloon-arrow-x-top;
	}
}

%balloon-content-left {

	&::before, &::after {
		@extend %balloon-arrow-x;

		left: 0;
	}

	&::before {
		@extend %balloon-arrow-x-bottom;
	}

	&::after {
		@extend %balloon-arrow-x-top;

		margin-left: -($balloon-arrow-top-box-size);
	}
}

.balloon {
	opacity: 0.99999; // To create a new z-index stack

	> .content {
		@extend %balloon-content;
	}

	&-right {
		padding: $max-shadow $balloon-margin $max-shadow $max-shadow;

 		> .content {
 			@extend %balloon-content-right;
		}
	}

	&-left {
		padding: $max-shadow $max-shadow $max-shadow $balloon-margin;

		> .content {
			@extend %balloon-content-left;
		}
	}

	&-top {
		padding: $balloon-margin $max-shadow $max-shadow $max-shadow;

		> .content {

			&::before, &::after {
				@extend %balloon-arrow-y;

				top: 0;
			}

			&::before {
				@extend %balloon-arrow-y-bottom;
			}

			&::after {
				@extend %balloon-arrow-y-top;

				margin-top: -($balloon-arrow-top-box-size);
			}
		}
	}

	&-bottom {
		padding: $max-shadow $max-shadow $balloon-margin $max-shadow;

		> .content {

			&::before, &::after {
				@extend %balloon-arrow-y;
				top: 100%;
			}

			&::before {
				@extend %balloon-arrow-y-bottom;
			}

			&::after {
				@extend %balloon-arrow-y-top;
			}
		}
	}
}
