@charset "utf-8";

%bar {
	@extend %color-primary;
}

%bar-regular {
	@extend %bar;

	height: $bar-height;
}

%bar-tall {
	@extend %bar;

	height: $bar-tall-height;
}

.layout-container {

	&.bar-top {

		.bar.top {
			@extend %bar-regular;
		}

		&-tall {

			.bar.top {
				@extend %bar-tall;
			}
		}
	}

	&.bar-bottom {

		.bar.bottom {
			@extend %bar-regular;
		}

		&-tall {

			.bar.bottom {
				@extend %bar-tall;
			}
		}
	}
}