@charset "utf-8";

@use "input";

@mixin button($factor) {
	@include input.generic-input($factor);

	$height: ($default-line-height) + space(2);

	height: $height;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	z-index: map-get($layers, 'base');

	&:not(.overridden) {
		padding: space() space(2);

		&.rounded {
			@include border-rounded-height($height);

			>div.image {
				@extend .right-margin;
			}
		}

		>div.image {
			float: left;
			margin: space(-1) space(2) 0 space(-2)
		}
	}

	&.overridden {
		background-color: transparent;
		color: transparent;

		>div.image {
			position: absolute;
			top: 0;
			left: 0;
			z-index: map-get($layers, 'base') - 2;
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: map-get($layers, 'base') - 1;
			transition-duration: inherit;
			background-color: transparent;
		}

		&:hover {
			color: #fff;

			&::before {
				background-color: rgba(#000, .5);
			}
		}
	}

	&.rounded {

		&::before, >div.image, &.overridden {
			@include border-rounded($height);
		}
	}

	&::before, >div.image, &.overridden {
		width: $height;
		height: $height;
	}

	>div.image {
		@extend .border;
	}
}

button, .button {

	@each $name, $size in $sizes {
		$factor: map-get($size, factor);

		@if ($factor > 0) {

			&#{map-get($size, class)} {
				@include button($factor);
			}
		}
	}
}
