@charset "utf-8";

.expandable {

	+ * {
		@extend .removed;
	}

	&::after {
		@extend %icon;

		float: right;
		content: 'keyboard_arrow_down';
	}

	&.expanded::after {
		content: 'keyboard_arrow_up';
	}
}
