@charset "utf-8";

i.material-icons {
	vertical-align: text-bottom;
	margin-bottom: -0.16em;

	&.inline {
		font-size: inherit;
		line-height: inherit;
	}

	&.icon-big {
		font-size: 2em;
	}

	&.icon-bigger {
		font-size: 3em;
	}
}

%icon {
	font-family: 'Material Icons';
}
