@charset "utf-8";

@use "sass:math";

@mixin generic-input($factor) {
	$factor: 1 + 0.5 * math.floor($factor/2);

	@extend .margin;
	@extend .bold;
	@extend .border;
	@extend .shadow;

	font-size: ($factor * 1em);
}
