@charset "utf-8";

nav {

	ul {
		margin: 0;

		> li {
			@extend .bold;

			display: inline-block;
			cursor: pointer;

			> a {
				display: inline-block;
			}
		}
	}

	&.floating {
		@extend .border;
		@extend .shadow;
		@extend .margin-bigger;

		&:not(.vertical) {
			display: inline-block;
		}

		li {
			background-color: transparent;

			&:first-of-type > a {
				border-radius: border-radius() border-radius() 0 0;
			}

			&:last-of-type > a {
				border-radius: 0 0 border-radius() border-radius();
			}
		}
	}

	@each $spacing, $params in $sizes {

		&#{map-get($params, class)} ul > li > a {
			@extend .space#{map-get($params, suffix)};
		}
	}

	&.vertical {

		&:not(.floating) {
			@extend .fill-height;
		}

		ul > li {
			display: block;

			> a {
				display: block;
			}
		}

		&.floating {
			@extend .text-center;

			@each $spacing, $params in $sizes {

				&#{map-get($params, class)} ul > li > a {
					@extend .h-space-none;
					@extend .v-space#{map-get($params, suffix)};
				}
			}
		}
	}
}
