@charset "utf-8";

%progress {
	@extend .removed;
	@extend %top;
	@extend .transparent;

	border-color: $color-background-primary;
	z-index: map-get($layers, 'local-progress');

	&::before {
		@extend %color-primary-bg;
	}

	&.color-light {
		border-color: $color-background-light;

		&::before {
			@extend %color-light-bg;
		}
	}

	&.global {
		@extend %fixed;

		z-index: map-get($layers, 'global-progress');
	}

	&.show {
		@extend .block;
	}

	&.detached {
		@extend %positioned;

		z-index: map-get($layers, 'base');
	}

	&.determinate::before {
		animation: none;
	}

	&:not([data-progress])::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		height: 100%;
		animation: loader-animation 1s linear infinite;

		@keyframes loader-animation {
			0% {
				width: 0;
				left: 0;
			}
			50% {
				width: 33%;
				left: 33.3%;
			}
			100% {
				width: 0;
				left: 100%;
			}
		}
	}

	&[data-progress] {
		border-left-style: solid;
	}
}

.progress {

	@each $dont-care, $params in $sizes {

		@if (map-get($params, "factor") != 0) {

			&#{map-get($params, "suffix")} {
				@extend %progress;

				height: size(0.125em, map-get($params, "factor"));
			}
		}
	}
}