@charset "utf-8";

@use "input";

select {
	@extend .removed;
}

%select {
	cursor: pointer;
	padding: space() space(2);
}

%select-wrappers {

	@each $name, $size in $sizes {
		$factor: map-get($size, factor);

		@if ($factor > 0) {

			&#{map-get($size, class)} {
				@include input.generic-input($factor);
			}
		}
	}
}

div.select-wrapper {
	@extend %select;
	@extend %select-wrappers;

	display: inline-block;
	height: ($default-line-height) + space(2);
}

ul.options-wrapper {
	@extend %select-wrappers;

	position: fixed;
	max-width: 100%;
	max-height: 50%;

	li {
		@extend %select;

		&:first-of-type {
			border-radius: border-radius() border-radius() 0 0;
		}

		&:last-of-type {
			border-radius: 0 0 border-radius() border-radius();
		}
	}
}

// Colors
div.select-wrapper, ul.options-wrapper li {
	background-color: white;

	&:hover {
		background-color: #dde;
	}
}
