@charset "utf-8";

hr {
	@extend .text-center;

	display: block;
	margin: 2.5em 0;
	border: 0;

	&::before {
		content: "• • •";
	}
}

ul.separated > li:nth-of-type(n+2), i.separator {

	&::before {
		content: "•";
		margin: 0 1em;
	}
}
