@charset "utf-8";

@include spaced-block('table');

table {
	@extend .border;

	border-collapse: collapse;

	&.outlined {
		border-collapse: separate;
		border-spacing: 0;

		td {
			border-bottom-width:  0;
		}

		th, tbody > tr:first-child > td {
			border-top-width: 0;
		}
	}

	margin-left: auto;
	margin-right: auto;

	> thead {
		@extend .bold;
	}

	&:not(.static) > tbody > tr:hover {
		@extend %color-base-hover;
	}

	> tfoot, > tfoot td {
		@extend .text-right;
	}

	%table-cell {
		@extend .text-left;
		@extend %color-base-border;

		border-width: 1px 0;
		border-style: solid;

		&.numeric {
			text-align: right;
		}
	}

	td {
		@extend %table-cell;

		padding: space() space(2);
	}

	th {
		@extend %table-cell;

		padding: space(1.25) space(2);

		&[colspan] {
			@extend .text-center;
		}
	}
}