@charset "utf-8";

ul.timeline-compact {
	display: table;

	> li {
		display: table-row;
		$ruler-width: 0.2em;
		$bullet-border-width: 0.4em;

		> div {
			display: table-cell;
			@extend .h-space-bigger;
			@extend .v-space-big;

			&:nth-of-type(1) {
				@extend .bold;
				@extend .text-right;

				position: relative;

				&::before {
					$bullet-diameter: ($default-line-height * 1em);
					@include border-rounded($bullet-diameter);

					content: "";
					border-width: $bullet-border-width;
					border-style: solid;
					display: block;
					position: absolute;
					right: -(($bullet-diameter / 2) + ($ruler-width / 2));
					z-index: map-get($layers, 'base') + 1;
				}
			}

			&:nth-of-type(2) {
				border-left-width: $ruler-width;
				border-left-style: solid;

				&::before {
					@extend .bold;

					content: attr(data-title);
				}
			}
		}
	}
}

%timeline {
	display: block;
	position: absolute;
}

%timeline-container {
	display: block;
	position: relative;
}

ul.timeline {
	$ruler-width: 0.15em;
	$bullet-border-width: ($ruler-width * 1.5);
	$bullet-diameter: ($default-line-height * 1em * 2.5);
	$bullet-margin: (-($bullet-diameter / 2));
	$content-padding: (space("big") + ($bullet-diameter / 2) + $balloon-margin);
	$content-margin: 50%;

	@extend %timeline-container;

	opacity: 0.99999; // To create a new z-index stack

	&::after{
		@extend %timeline;

		content: "";
		height: 100%;
		top: 0;
		border-left-width: ($ruler-width * 2);
		border-left-style: dotted;
		margin: 0 0 0 (-($ruler-width / 2));
		left: 50%;
	}

	> li {
		@extend %timeline-container;

		> div.content {
			@extend %balloon-content;
		}

		&:nth-of-type(2n+1) {
			@extend .text-right;

			margin-right: $content-margin;
			padding-right: $content-padding;

			> div.content {
				@extend %balloon-content-right;

				header {
					@extend .text-right;
				}
			}

			&::before {
				left: 100%;
				margin-left: $bullet-margin;
			}
		}

		&:nth-of-type(2n) {
			padding-left: $content-padding;
			margin-left: $content-margin;

			> div.content {
				@extend %balloon-content-left;

				header {
					@extend .text-left;
				}
			}

			&::before {
				left: 0;
				margin-left: $bullet-margin;
			}
		}

		&::before {
			@extend %timeline;
			@extend .text-center;
			@extend .bold;
			@extend .shadow;

			@include border-rounded($bullet-diameter);

			content: attr(data-date);
			top: 50%;
			line-height: ($bullet-diameter - ($bullet-border-width * 2));
			border-width: $bullet-border-width;
			border-style: solid;
			z-index: map-get($layers, 'base') + 1;
			margin-top: -($bullet-diameter / 2);
		}
	}
}
