@mixin transition($additional-transitions: null) {

	@if ($additional-transitions != null) {
		$additional-transitions: "," + $additional-transitions;
	}

	transition: $default-transitions #{$additional-transitions}
}

%default-transition {
	@include transition;
}
