@charset "utf-8";

@function border-radius($factor: "default") {
	@return size($default-border-radius, $factor);
}

%border-default {
	border: none;
}

@each $dont-care, $params in $sizes {

	.border#{map-get($params, "suffix")} {
		@extend %border-default;

		border-radius: border-radius(map-get($params, "factor"));
	}
}

$border-outline: 1px solid $color-border;

.outlined {
	border: $border-outline;
}

@mixin border-rounded-height($height) {
	border-radius: ($height / 2);
	height: $height;
}

@mixin border-rounded-width($width) {
	border-radius: ($width / 2);
	width: $width;
}

@mixin border-rounded($size) {
	border-radius: ($size / 2);
	width: $size;
	height: $size;
}
