@charset "utf-8";

$color-default: "default";
$color-default-components: "primary";

$color-background-default: #fff;
$color-background-primary: #795548;
$color-background-light: #f3efe0;
$color-background-dark: #444;
$color-background-darker: #222;

$color-text: #444;
$color-text-dark: #f5f5f5;

$color-header: #795548;
$color-header-dark: #f5f5f5;

/**
* Color sets are defined like that: default-background default-text hover-background hover-text
*
* To repeat some color, just put the index of the color already used instead of the color itself.
* For example: "red white 1 2" is the same as "red white red white"
*
* To left some color unset, use null if you want to define one of the following colors, otherwise do nothing.
* For example: "null green" is the same as "null green null null"
*/
$color-set-base-default: $color-background-default $color-text darken($color-background-default, 10) 2;
$color-set-base-primary: $color-background-primary $color-text-dark darken($color-background-primary, 10) 2;
$color-set-base-light: $color-background-light $color-text darken($color-background-light, 10) 2;
$color-set-base-dark: $color-background-dark $color-text-dark lighten($color-background-dark, 10) 2;
$color-set-base-darker: $color-background-darker $color-text-dark lighten($color-background-darker, 10) 2;

@function color-default() {
	$base-link: #09f;

	@return (
		base: $color-set-base-default,
		secondary: null lighten($color-header, 10),
		separator: null #d5c0b9,
		link: null $base-link 1 lighten($base-link, 20),
		highlight: lighten(get-color($color-set-base-default, "text"), 35)
	)
};

@function color-primary() {

	@return (
		base: $color-set-base-primary,
		nav: (
			item: null get-color($color-set-base-primary, "text") null darken(get-color($color-set-base-primary, "text"), 20),
			separator: null lighten(get-color($color-set-base-primary, "background"), 15),
			selected: lighten(get-color($color-set-base-primary, "background"), 10) null
		),
		timeline: (
			default: (
				balloon: $color-set-base-primary,
				bullet: $color-set-base-primary,
				bullet-border: get-color($color-set-base-primary, "background"),
				ruler: get-color($color-set-base-primary, "background")
			),
			compact: (
				bullet: get-color($color-set-base-primary, "background"),
				bullet-border: get-color($color-set-base-primary, "background"),
				ruler: get-color($color-set-base-primary, "background")
			)
		)
	)
};

@function color-light() {

	@return (
		base: $color-set-base-light,
		nav: (
			item: null $color-header null darken($color-header, 20),
			separator: null darken(get-color($color-set-base-light, "background"), 15),
			selected: darken(get-color($color-set-base-light, "background"), 10) null
		),
		timeline : (
			default: (
				balloon: $color-set-base-light,
				balloon-header: null lighten($color-header, 10),
				bullet: $color-set-base-light,
				bullet-border: get-color($color-set-base-light, "background"),
				ruler: get-color($color-set-base-light, "background")
			)
		)
	)
};

@function color-dark() {
	$base-link: #5cbeff;

	@return (
		base: $color-set-base-dark,
		secondary: null darken($color-header-dark, 30),
		separator: null lighten($color-background-dark, 20),
		link: null $base-link 1 lighten($base-link, 14)
	)
};

@function color-darker() {

	@return (
		base: $color-set-base-darker
	)
}

$color-schemes: (
	default: color-default(),
	primary: color-primary(),
	light: color-light(),
	dark: color-dark(),
	darker: color-darker()
);

// Base
$color-border: #ddd;

%color-base-header {
	color: $color-header;
}

%color-base-text {
	color: $color-text;
}

%color-base-bg {
	background-color: $color-background-default;
}

%color-base-border {
	border-color: $color-border;
}

%color-base {
	@extend %color-base-text;
	@extend %color-base-bg;
}

%color-base-hover {
	background-color: darken($color-background-default, 6.5);
	color: $color-text;
}

// Primary
%color-primary-bg {
	background-color: $color-background-primary;
}

%color-primary-text {
	color: $color-text-dark;
}

%color-primary {
	@extend %color-primary-text;
	@extend %color-primary-bg;
}

%color-primary-hover {
	background-color: darken($color-background-primary, 10);
	color: $color-text-dark;
}

// Light
%color-light-bg {
	background-color: $color-background-light;
}