@charset "utf-8";

@function get-color($list, $wich) {
	$return: null;

	@if ($wich == "background") {
		$return: nth($list, 1);
	} @else if ($wich == "text") {
		$return: color-list($list, 2);
	} @else if ($wich == "hover-background") {
		$return: color-list($list, 3);
	} @else if ($wich == "hover-text") {
		$return: color-list($list, 4);
	}

	@return $return;
}

@function color-list($list, $index) {
	$return: null;

	@if (length($list) >= $index) {

		@if (type-of(nth($list, $index)) == 'number') {
			$return: nth($list, nth($list, $index));
		} @else {
			$return: nth($list, $index);
		}
	}

	@return $return;
}

@function get-selector($scheme, $component: true) {
	$selector: $scheme;

	@if (($component and ($selector == $color-default-components)) or (not $component and ($selector == $color-default))) {
		$selector: "";
	} @else {
		$selector: ".#{$selector}-color";
	}

	@return $selector;
}

@import "color-schemes";

@mixin set-colors($color-list, $auto-hover: true) {

	@if (not $auto-hover) {
		$auto-hover: "-hover";
	} @else {
		$auto-hover: "";
	}

	background-color: get-color($color-list, "background");
	color: get-color($color-list, "text");

	&#{$auto-hover}:hover {
		background-color: get-color($color-list, "hover-background");
		color: get-color($color-list, "hover-text");
	}
}

@mixin color-timeline($name, $scheme) {

	@if (map-get($scheme, "timeline")) {
		$timeline: map-get($scheme, "timeline");

		@if (map-get($timeline, "compact")) {
			$timeline-compact: map-get($timeline, "compact");
			$timeline-compact-bullet: map-get($timeline-compact, "bullet");
			$timeline-compact-bullet-border: map-get($timeline-compact, "bullet-border");
			$timeline-compact-ruler: map-get($timeline-compact, "ruler");

			ul.timeline-compact#{get-selector($name)} > li > div {

				&:nth-of-type(1)::before {
					background-color: $timeline-compact-bullet;
					border-color: $timeline-compact-bullet-border;
				}

				&:nth-of-type(2) {
					border-left-color: $timeline-compact-ruler;
				}
			}
		}

		@if (map-get($timeline, "default")) {
			$timeline-default: map-get($timeline, "default");
			$timeline-balloon: map-get($timeline-default, "balloon");
			$timeline-balloon-header: map-get($timeline-default, "balloon-header");
			$timeline-bullet: map-get($timeline-default, "bullet");
			$timeline-bullet-border: map-get($timeline-default, "bullet-border");
			$timeline-ruler: map-get($timeline-default, "ruler");
			$timeline-balloon-background: get-color($timeline-balloon, "background");
			$timeline-balloon-text: get-color($timeline-balloon, "text");
			$timeline-bullet-background: get-color($timeline-bullet, "background");
			$timeline-bullet-text: get-color($timeline-bullet, "text");


			ul.timeline#{get-selector($name)} {

				> li {

					&::before {
						@include set-colors($timeline-bullet, false);

						border-color: $timeline-bullet-border;
					}

					> .content {
						@include set-colors($timeline-balloon, false);

						&::before {
							background-color: $timeline-balloon-background;
							border-color: $timeline-balloon-background;
						}

						> header {
							@include set-colors($timeline-balloon-header);
						}
					}

					&:nth-of-type(2n+1) > .content::after {
						border-color: transparent transparent transparent $timeline-balloon-background;
					}

					&:nth-of-type(2n) > .content::after {
						border-color: transparent $timeline-balloon-background transparent transparent;
					}
				}

				&::after {
					border-left-color: $timeline-ruler;
				}
			}
		}
	}
}

@mixin color-balloon($name, $scheme) {
	$balloon-color: map-get($scheme, "base");
	$balloon-background: get-color($balloon-color, "background");
	$balloon-text: get-color($balloon-color, "text");
	$right-arrow: transparent transparent transparent $balloon-background;
	$left-arrow: transparent $balloon-background transparent transparent;
	$top-arrow: transparent transparent $balloon-background transparent;
	$bottom-arrow: $balloon-background transparent transparent transparent;

	.balloon#{get-selector($name)} {
		background-color: transparent;

		> .content {
			background-color: $balloon-background;
			color: $balloon-text;

			&::before {
				background-color: $balloon-background;
				border-color: $balloon-background;
			}
		}
	}

	.balloon {

		&-right#{get-selector($name)} > .content::after {
			border-color: $right-arrow;
		}

		&-left#{get-selector($name)} > .content::after {
			border-color: $left-arrow;
		}

		&-top#{get-selector($name)} > .content::after {
			border-color: $top-arrow;
		}

		&-bottom#{get-selector($name)} > .content::after {
			border-color: $bottom-arrow;
		}
	}
}

@mixin color-nav($name, $scheme) {

	@if (map-get($scheme, "nav")) {
		$nav-scheme: map-get($scheme, "nav");

		nav#{get-selector($name)} {
			@extend %#{$name}-color;

			ul.separated > li:nth-of-type(n+2)::before {
				@include set-colors(map-get($nav-scheme, "separator"), false);
			}

			ul.selectable > li.selected > a {
				@include set-colors(map-get($nav-scheme, "selected"), false);
			}

			li {

				> a {
					@include set-colors(map-get($nav-scheme, "item"));
				}
			}
		}
	}
}

@mixin color-button($name) {

	button:not(.overridden)#{get-selector($name)}, .button:not(.overridden)#{get-selector($name)} {
		@extend %#{$name}-color;
		@extend %#{$name}-color-hover;
	}
}

@mixin color-link($name, $scheme) {

	@if (map-get($scheme, "link")) {

		a#{get-selector($name, false)} {
			@include set-colors(map-get($scheme, "link"));
		}
	}
}

@mixin color-highlight($name, $scheme) {

	@if (map-get($scheme, "highlight")) {

		.highlightable#{get-selector($name, false)}:hover {
			border-color: map-get($scheme, "highlight");
		}
	}
}

@mixin color-separators($name, $scheme) {

	@if (map-get($scheme, "separator")) {

		hr#{get-selector($name, false)}, ul.separated#{get-selector($name, false)} > :nth-of-type(n+2),
		i.separator#{get-selector($name, false)} {

			&::before {
				@include set-colors(map-get($scheme, "separator"));
			}
		}
	}
}

@mixin color-secondary-info($name, $scheme) {

	@if (map-get($scheme, "secondary")) {

		.secondary#{get-selector($name, false)} {
			@include set-colors(map-get($scheme, "secondary"));
		}
	}
}

body {
	@extend %#{$color-default}-color;
}

.transparent {
	background-color: transparent;
}

.transparent, .transparent * {
	@include transition("background-color 0ms");
}

@each $name, $scheme in $color-schemes {

	%#{$name}-color {
		@include set-colors(map-get($scheme, "base"), false);
	}

	body, section, header, main, footer, div {

		&.#{$name}-color:not(.balloon) {
			@extend %#{$name}-color;
		}
	}

	@include color-separators($name, $scheme);
	@include color-highlight($name, $scheme);
	@include color-link($name, $scheme);
	@include color-button($name);
	@include color-balloon($name, $scheme);
	@include color-timeline($name, $scheme);
	@include color-nav($name, $scheme);
	@include color-secondary-info($name, $scheme);
}
