@charset "utf-8";

// Sizing
$sizes: (
	none: (
		suffix: "-none",
	 	factor: 0
	),
	default: (
		suffix: "",
	 	factor: 1
	),
	big: (
		suffix: "-big",
		class: ".big",
		factor: 2
	),
	bigger: (
		suffix: "-bigger",
		class: ".bigger",
		factor: 4
	)
);
$aside-width: 11.25em;
$aside-wide-width: 16.75em;
$bar-height: 2.5em;
$bar-tall-height: 4em;

// Responsiveness
$container-max-width: 55.625em;
$screen-breakpoints: (
	(suffix: 'sm', width: 768px, container-padding: 1em)
	(suffix: 'md', width: 992px, container-padding: 1.5em)
	(suffix: 'lg', width: 1200px, container-padding: 2em)
);

// Spacing
$default-line-height: 1.5;
$default-spacing: 0.5em;

// Spacing -> Balloon
$balloon-arrow-bottom-box-size: 2em;
$balloon-arrow-top-box-size: 2.82843em;
$balloon-margin: ($balloon-arrow-bottom-box-size * .75);

// Font
$default-font-size: 1em;
$default-font-family: "'Lato', sans-serif";
$default-font-weight: 300;
$bold-font-weight: 400;

// Border
$default-border-radius: 0.2em;

// Transition
$default-transition-duration: 300ms;
$default-transitions:
		color $default-transition-duration,
		background-color $default-transition-duration,
		border-width $default-transition-duration,
		border-style $default-transition-duration,
		border-color $default-transition-duration;

// Z-index
$layers: (
	global-progress: 3500,
	top: 3000,
	overlay: 2000,
	fixed: 1000,
	aside: 700,
	local-progress: 500,
	base: 0
);