@charset "utf-8";

// Global
html, body {
	width: 100%;
	height: 100%;
}

%container {
	display: block;
	padding: map-get(nth(sort-breakpoints($screen-breakpoints), 1), 'container-padding');
}

.container {
	@extend %container;

	&.no-gutters {
		padding: 0;
	}

	box-sizing: content-box;
	max-width: $container-max-width;
	margin: auto;
}

.container-wide {
	@extend %container;

	max-width: none;
	margin: 0;
}

.layout-container {
	min-height: 100%;
	overflow: hidden;
	position: relative;
	transition: padding $default-transition-duration;

	&.bar-top {
		padding-top: $bar-height;

		&-tall {
			padding-top: $bar-tall-height;
		}
	}

	&.bar-bottom {
		padding-bottom: $bar-height;

		&-tall {
			padding-bottom: $bar-tall-height;
		}
	}
}

.clearfix {

	&::after {
		content: " ";
		display: block;
		clear: both;
	}
}

%fill-width {
	width: 100%;
}

%fill-height {
	height: 100%;
}

.fill-width {
	@extend %fill-width;
}

.fill-height {
	@extend %fill-height;
}

.block {
	display: block;
}

.removed {
	display: none;
}

.invisible {
	visibility: hidden;
}

.fixed-background {
	background-attachment: fixed;
}

@each $width in (5, 10, 15, 20, 25, 30) {

	.width-#{$width} {
		width: #{$width}em;
	}
}

// Regions
%begin-left {
	left: 0;
}

%begin-top {
	top: 0;
}

%bottom {
	@extend %absolute;
	@extend %fill-width;
	@extend %begin-left;

	bottom: 0;
}

%top {
	@extend %absolute;
	@extend %fill-width;
	@extend %begin-left;

	top: 0;
}

%left {
	@extend %absolute;
	@extend %fill-height;
	@extend %begin-top;

	left: 0;
}

%right {
	@extend %absolute;
	@extend %fill-height;
	@extend %begin-top;

	right: 0;
}

%fullscreen {
	@extend %fill-width;
	@extend %fill-height;

	display: block;
}

.fullscreen {
	@extend %fullscreen;
}

.bottom {
	@extend %bottom;
}

.top {
	@extend %top;
}

.left {
	@extend %left;
}

.right {
	@extend %right;
}

.fixed {

	&.bottom, &.top, &.left, &.right {
		@extend %fixed; // More specific rule to override position absolute.

		z-index: map-get($layers, 'fixed');
	}
}

// Positioning
%fixed {
	position: fixed;
}

%relative, %positioned {
	position: relative;
}

%absolute {
	position: absolute;
}

.relative, .positioned {
	@extend %relative;
}

.absolute {
	@extend %absolute;
}

.fixed {
	@extend %fixed;
}

// Grid
@mixin grid-columns($selector) {

	@for $span from 0 through 12 {

		#{unquote($selector)}#{$span} {

			@if ($span == 0) {
				display: none;
			} @else {
				display: block;
			}

			width: percentage($span / 12);
		}
	}
}

.row {
	@extend .clearfix;

	@include grid-columns('.col-x');

	display: block;
	margin: 0 (-(space())) 0 (-(space()));

	// All columns
	> .col {
		@extend .space;
	}

	// Columns not explicitly aligned (default alignment = left)
	> .col:not(.align-right):not(.align-center) {
		float: left;
	}

	// Columns not explicitly aligned in an explicitly right aligned row (default alignment = right)
	&.row-right>.col:not(.align-left):not(.align-center) {
		float: right;
	}
}

.grid {

	@each $dont-care, $params in $sizes {

		&.row-spacing#{map-get($params, "suffix")}, &.cell-spacing#{map-get($params, "suffix")} {
			$space: -(space(map-get($params, "factor")));
			margin: $space 0 $space;

			> .row > .col {
				@extend .v-space#{map-get($params, "suffix")};
			}
		}

		&.col-spacing#{map-get($params, "suffix")}, &.cell-spacing#{map-get($params, "suffix")} {

			> .row  {
				$space: -(space(map-get($params, "factor")));
				margin: 0 $space 0 $space;

				>.col {
					@extend .h-space#{map-get($params, "suffix")};
				}
			}
		}
	}
}

// Alignment
.align-left {
	float: left;
}

.align-right {
	float: right;
}

.align-center {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-justify {
	text-align: justify;
}

.container-vertical-align {
	@extend .fill-width;

	display: table;

	> .text-top, > .text-middle, > .text-bottom {
		display: table-cell;
	}

	> .text-top {
		vertical-align: top;
	}

	> .text-middle {
		vertical-align: middle;
	}

	> .text-bottom {
		vertical-align: bottom;
	}
}

// Sections
:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(hr):not(header) + section {
	margin-top: space("bigger") * 1.5;
}
