@charset "utf-8";

@each $breakpoint in sort-breakpoints($screen-breakpoints) {
	$breakpoint-suffix: map-get($breakpoint, 'suffix');
	$breakpoint-padding: map-get($breakpoint, 'container-padding');
	$breakpoint-width: map-get($breakpoint, 'width');

	@media only screen and (min-width: #{$breakpoint-width}) {
		@include grid-columns('.row .col-' + $breakpoint-suffix + '-x');
		@include aside('-' + $breakpoint-suffix);

		%container {
			padding: $breakpoint-padding;
		}
	}
}