@charset "utf-8";

$max-shadow: 0.3125em;

.shadow {
	box-shadow: 0 0.125em 0.125em 0 rgba(#000, .14), 0 0.1875em 0.0625em -0.125em rgba(#000, .2), 0 0.0625em $max-shadow 0 rgba(#000, .12);
}

.shadow#{map-get(map-get($sizes, "big"), suffix)} {
	box-shadow: 0 -0.25em 0.625em rgba(0,0,0,.2);
}

.text-shadow {
	text-shadow: 0 0.025em 0.025em rgba(#000, .14), 0 0.0675em 0.0625em rgba(#000, .2), 0 0.0625em $max-shadow rgba(#000, .12);
}
