@charset "utf-8";

@function space($factor: "default") {
	@return size($default-spacing, $factor);
}

@each $spacing, $params in $sizes {

	.top-space#{map-get($params, "suffix")} {
		padding-top: space(map-get($params, "factor"));
	}

	.bottom-space#{map-get($params, "suffix")} {
		padding-bottom: space(map-get($params, "factor"));
	}

	.left-space#{map-get($params, "suffix")} {
		padding-left: space(map-get($params, "factor"));
	}

	.right-space#{map-get($params, "suffix")} {
		padding-right: space(map-get($params, "factor"));
	}

	.v-space#{map-get($params, "suffix")} {
		@extend .top-space#{map-get($params, "suffix")};
		@extend .bottom-space#{map-get($params, "suffix")};
	}

	.h-space#{map-get($params, "suffix")} {
		@extend .left-space#{map-get($params, "suffix")};
		@extend .right-space#{map-get($params, "suffix")};
	}

	.space#{map-get($params, "suffix")} {
		@extend .v-space#{map-get($params, "suffix")};
		@extend .h-space#{map-get($params, "suffix")};
	}

	.top-margin#{map-get($params, "suffix")} {
		margin-top: space(map-get($params, "factor"));
	}

	.bottom-margin#{map-get($params, "suffix")} {
		margin-bottom: space(map-get($params, "factor"));
	}

	.left-margin#{map-get($params, "suffix")} {
		margin-left: space(map-get($params, "factor"));
	}

	.right-margin#{map-get($params, "suffix")} {
		margin-right: space(map-get($params, "factor"));
	}

	.v-margin#{map-get($params, "suffix")} {
		@extend .top-margin#{map-get($params, "suffix")};
		@extend .bottom-margin#{map-get($params, "suffix")};
	}

	.h-margin#{map-get($params, "suffix")} {
		@extend .left-margin#{map-get($params, "suffix")};
		@extend .right-margin#{map-get($params, "suffix")};
	}

	.margin#{map-get($params, "suffix")} {
		@extend .v-margin#{map-get($params, "suffix")};
		@extend .h-margin#{map-get($params, "suffix")};
	}
}

@mixin spaced-block($element) {

	* + #{$element} {
		@extend .top-margin-bigger;
	}

	#{$element}:not(:last-child) {
		@extend .bottom-margin-bigger;
	}
}