@charset "utf-8";

// Highlight
.highlightable {
	@include transition("padding " + #{$default-transition-duration});

	border-width: 1px;
	border-style: dotted;
	border-color: transparent;
	cursor: default;

	&:hover {
		padding-left: 0.25em;
		padding-right: 0.25em;
	}
}
