@charset "utf-8";

body {
	font: $default-font-weight #{$default-font-size}/#{$default-line-height} #{$default-font-family};
}

// General
strong, b, .bold {
	font-weight: $bold-font-weight;
}

i, .italic {
	font-style: italic;
}

.upper {
	text-transform: uppercase;
}

.lower {
	text-transform: lowercase;
}

.big-text {
	font-size: 1.3em;
}

.bigger-text {
	font-size: 2em;
}

// Computer interaction
kbd {
	@extend .border;

	display: inline;
	background-color: #eee;
	padding: space(0.25) space(0.5);
}

code {
	@extend kbd;

	&.html::before {
		content: '<';
	}

	&.html::after {
		content: '>';
	}
}

// Links
a {
	cursor: pointer;
	text-decoration: none;
}

// Headers
header {
	@extend .text-center;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	margin: 0 0 2rem;
}

h1, h2, h3, h4 {
	@extend %color-base-header;
}

h4, h5, h6 {
	@extend .bold;
}

h5, h6 {
	@extend %color-base-text;
}

h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	@extend .upper;
}

h5 {
	font-size: 1.1em;
}

// Text blocks
$text-blocks: ('p', 'ul', 'ol', 'dl');

%text-block {
	margin: 0.5em 0 0;
}

@each $tag in $text-blocks {

	#{$tag} {

		@each $tag_ in $text-blocks {

			+ #{$tag_} {
				@extend %text-block;
			}
		}
	}
}

// Description lists
dt {
	@extend .bold;
}

dd {
	@extend .left-space-big;
}

// Lists
ul {
	list-style-position: inside;
	list-style-type: none;

	&.inline-list > li {
		display: inline-block;
	}

	@each $spacing, $params in $sizes {

		&.spaced-items#{map-get($params, "suffix")} > li {
			@extend .v-margin#{map-get($params, "suffix")};
		}
	}
}
