@charset "utf-8";

@function size($base, $factor) {

	@if (type-of($factor) == string) {
		$factor: map-get(map-get($sizes, $factor), "factor");
	}

	@return ($factor * $base);
}

// Sort breakpoints
@function sort-breakpoints($breakpoints, $descending: false) {
	$lessers: ();
	$equals: ();
	$greaters: ();

	@if (length($breakpoints) > 1) {
		$pivot: nth($breakpoints, ceil(length($breakpoints) / 2));

		@each $breakpoint in $breakpoints {
			$breakpoint-width: map-get($breakpoint, 'width');
			$pivot-width: map-get($pivot, 'width');

			@if ($breakpoint-width == $pivot-width) {
				$equals: append($equals, $breakpoint);
			} @else if ($breakpoint-width < $pivot-width) {
				$lessers: append($lessers, $breakpoint);
			} @else if ($breakpoint-width > $pivot-width) {
				$greaters: append($greaters, $breakpoint);
			}
		}

		$greaters: sort-breakpoints($greaters, $descending);
		$lessers: sort-breakpoints($lessers, $descending);
		@return join(join(if($descending, $greaters, $lessers), $equals), if($descending, $lessers, $greaters));
	}

	@return $breakpoints;
}

// Transformations
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	-o-transform: $transforms;
	transform: $transforms;
}

@mixin rotate($deg) {
	@include transform(rotate(#{$deg}deg));
}
